@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;    /*for different kind of fonts*/
}

.active hr{                /*horizontal lines become visible on click on dashboard*/
    @apply block    
}

::-webkit-scrollbar{
    @apply hidden          /*hides the scrollbar & makes it transparent*/
}

@media (max-width:740px) {
    .active p{
        @apply text-white bg-primary
    }
}